<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.projectmister.game.test">
  <application android:label="BOSS XI QA" />
  <instrumentation android:name="com.projectmister.game.qa.SmokeRunner" android:targetPackage="com.projectmister.game" android:functionalTest="true" />
</manifest>
